{% extends "main.html" %}

{% block title %}{{ name }}{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block navbar %}
{{ super() }}
{% endblock %}

{% block content %}
<div class="content">
	<header>
	</header>

	<div class="container register-text">
		
		<div class="container-co jumbotron propose-form-title">
			<p>
				<label for="titletext" class="login-form-title">{{title}}</label>
			</p>
		</div>
		
		<div class="container-globalregister"> 				
			<div class="col-md-6 no-padding">
				<div  id="registerleftwindow" class="jumbotron-propose container-halfproject">
					
					<img src="../image/lama.png">
					
					</br></br>
					<p>Description : </p>
					<div style="overflow-y:scroll; height:250px;">
					{{description}}
					</div>
				</div>
			
			</div>
			<div class="col-md-6 no-padding">
				<div id="registerrightwindow" class="jumbotron-propose container-halfproject">
					
					<p>★★★★★</p>
					
					<form method="post" action="#" enctype="multipart/form-data">
						
						
						<!-- SI connecté-->
						<p><label for="description">Laisser un commentaire </label> : <br />
						<textarea name="description" id="description" rows="2" cols="42%" style="margin-bottom:11px"></textarea></p>
						
						<a class="btn btn-lg btn-warning register-button-style" href="#" role="button">Envoyer</a>
						<!-- SINON
						<p>Connectez-vous pour laisser un commentaire !</p>
						
						OVERFLOW SCROLL
						-->
						
						
					</form>
				</div>
			</div>
			
		</div>
	</div>
</div>
{% endblock %}


{% block footer %}
{{ super() }}
{% endblock %}