{% extends "main.html" %}

{% block title %}{{ name }}{% endblock %}

{% block head %}
{{ super() }}
<script type="text/javascript" src="../api/comment.js" defer></script>
{% endblock %}

{% block navbar %}
{{ super() }}
{% endblock %}

{% block content %}
<div class="content">
	<header>
	</header>

	<div class="container register-text">
		
		<div class="container-co jumbotron propose-form-title">
			<p>
				<label for="titletext" class="login-form-title">{{title}}</label>
			</p>
		</div>
		
		<div class="container-globalregister"> 				
			<div class="col-md-6 no-padding">
				<div  id="registerleftwindow" class="jumbotron-propose container-halfproject">
					
					<img style="max-width:55%;" src={{image}}>
					
					</br></br>
					<p>Description : </p>
					<div style="overflow-y:auto; height:20%;">
						{{description}}
					</div>
					<p><label for="description">Laisser un commentaire </label> : <br />
					<textarea name="description" id="description" rows="2" cols="42%" style="margin-bottom:11px"></textarea></p>
					
					<button onclick="writeComment()" style="margin-top: 0px; margin-left:30%;" class="btn btn-lg btn-warning register-button-style" href="#" role="button">Envoyer</button>

				</div>
			
			</div>
			<div class="col-md-6 no-padding">
				<div  id="registerleftwindow" class="jumbotron-propose container-halfproject">
					<div style="text-align:center; margin-top:2%; font-size: 20px;">
					Liste des réponses:
					</div> </br>
					<div class="file-block">
					
					</div>
					<div style="text-align:center; margin-top:1%; font-size: 20px;">
					Commentaire:
					</div>
					<div id="comment" class="commentaire-block">
					
					{% set count = 0 %}
					{% for c in list %}
							{% if count is divisibleby 2 %}
							<div class="commentaire"><a href="/profile/{{c}}">User {{c}}:</a></br>
							{% endif %}
							{% if count is not divisibleby 2 %}
							{{c}}</div></br>
							{% endif %}
							{% set count = count +1 %}
					{% endfor %}
					</div>
					
				</div>
				
				
			</div>
			
		</div>
	</div>
</div>
{% endblock %}


{% block footer %}
{{ super() }}
{% endblock %}