{% extends "main.html" %}

{% block title %}{{ name }}{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block navbar %}
{{ super() }}
{% endblock %}

{% block content %}
<div class="content">
	<header>
	</header>
		
	<form method="POST" action="/login">
		<body>
			<div class="container login-text">
		
				<div class="container-login jumbotron login-form-title">
					<label for="titletext" class="login-form-title">Connexion</label>
				</div>

				<!--{% with messages = get_flashed_messages() %}
					{% if messages %}
						<div class="panel panel-danger" id="error">
							<div class="panel-heading">
								<h3 class="panel-title">Error</h3>
							</div>
							<div class="panel-body">
								{{messages[0]}}
							</div>
						</div>
					{% endif %}
				{% endwith %}-->
				
				<div class="jumbotron container-login">					
				
					<div class="form-style">
					
						<label for="id" class="login-text">Identifiant :</label>
						<br />
						<input type="text" name="login" id="id" style="text-align:center;" placeholder="Entrez votre identifiant ici" size="30" maxlength="64" />
					
					
						<label for="mdp" class="login-text">Mot De Passe :</label>
						<br />
						<input type="password" name="password" id="mdp" style="text-align:center;" placeholder="Entrez votre mot de passe ici" size="30" maxlength="64" />
						<br />
							
					</div>

					<button type="submit" class="btn btn-lg btn-warning login-button-style">Connexion</button>
					
				</div>

			<div class="container-login jumbotron">
				<a href="register" class="link-form-style">Pas de compte ?<br /> Inscrivez vous dès maintenant !</a>
			</div>
		</div>
		</body>
	</form>
	
</div>
{% endblock %}


{% block footer %}
{{ super() }}
{% endblock %}