<!DOCTYPE html>

<html>

	<head>

		{% block head %}
		
		<meta charset="utf-8">

		<title>{% block title %}{% endblock %} - LamaPrint</title>
		<link rel="icon" type="image/png" href="../image/favicon.png" />

		<script type="text/javascript" src="../jquery/jquery-1.12.3.min.js" ></script>
		<script type="text/javascript" src="../bootstrap/js/bootstrap.min.js" ></script>
		<script type="text/javascript" src="../api/session.js" defer></script>
		<script type="text/javascript" src="../api/cookies.js" defer></script>

		<link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap-theme.min.css" />
		<link rel="stylesheet" type="text/css" href="../static/lamaprint.css" />
		
		{% endblock %}

	</head>


	<body>
		
		{% block navbar %}
		<!-- NAVBAR -->
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid navbar-no-margin">
				<div class="navbar-header">
					<!-- Collapsed navbar for mobile users -> navbar is shown only whe user touches button -->
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="icon-bar"><img src="../image/logo.png"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					
					<a class="navbar-brand" style="padding-top:5px" href="/"><img src="../image/logo.png" style="height:120%;width:auto"></a>
					<a class="navbar-brand" href="/"><b>LamaPrint</b></a>
				</div>

				<ul class="nav navbar-nav">
					
					<!--PROJET DROPDOWN-->
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Projet<span class="caret"></span></a>
						<ul class="dropdown-menu">

							<li><a href="/searchproject">Chercher un projet</a></li>
							<li><a href="/demand">Demander un projet</a></li>
							<li><a href="/propose">Proposer un projet</a></li>
							<li><a href="#">Répondre à un projet</a></li>
						</ul>
					</li>

					<!--IMPRIMANTE DROPDOWN-->
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Imprimante 3D<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="/rent">Prêter votre imprimante</a></li>
							<li><a href="/searchprinter">Louer une imprimante</a></li>
						</ul>
					</li>
				</ul>

				<!-- Right part of navbar -->
				<ul class="nav navbar-nav navbar-right">
					{% if session.get('logged')==True %}
					<li><a href="/profile?action=view&user={{session['username']}}"><span class="glyphicon glyphicon-user"></span> {{session['username']}}</a></li>
					<li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
					{% elif request.path == "/login" %}
					<li><a href="/register"><span class="glyphicon glyphicon-user"></span> Register</a></li>
					{% elif request.path == "/register" %}
					<li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
					{% else %}
					<li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
					<li><a href="/register"><span class="glyphicon glyphicon-user"></span> Register</a></li>
					{% endif %}
				</ul>
			</div>
		</nav>

		{% endblock %}


		<!-- CONTENU -->
		<div class="container">
			
			<div class="container" style="width:100%; position: fixed; top:70px; left:0px;  z-index: 1040;" >
				
				{% with success = get_flashed_messages(category_filter=["success"]) %}
					{% if success %}
						<div class="msg-alert" style="margin-left:auto; margin-right:auto; max-width: 60%" >
							{% for msg in success %}
								<div class="alert alert-success fade in">
									<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
										<strong>Success !</strong> {{ msg }}
								</div>
							{% endfor %}
						</div>
					{% endif %}
				{% endwith %}

				{% with info = get_flashed_messages(category_filter=["info"]) %}
					{% if info %}
						<div class="msg-alert" style="margin-left:auto; margin-right:auto; max-width: 60%" >
							{% for msg in info %}
								<div class="alert alert-info fade in">
									<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
										<strong>Info !</strong> {{ msg }}
								</div>
							{% endfor %}
						</div>
					{% endif %}
				{% endwith %}

				{% with warning = get_flashed_messages(category_filter=["warning"]) %}
					{% if warning %}
						<div class="msg-alert" style="margin-left:auto; margin-right:auto; max-width: 60%" >
							{% for msg in warning %}
								<div class="alert alert-warning fade in">
									<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
										<strong>Warning !</strong> {{ msg }}
								</div>
							{% endfor %}
						</div>
					{% endif %}
				{% endwith %}

				{% with danger = get_flashed_messages(category_filter=["danger"]) %}
					{% if danger %}
						<div class="msg-alert" style="margin-left:auto; margin-right:auto; max-width: 60%" >
							{% for msg in danger %}
								<div class="alert alert-danger fade in">
									<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
										<strong>Danger !</strong> {{ msg }}
								</div>
							{% endfor %}
						</div>
					{% endif %}
				{% endwith %}

			</div>


			{% block content %}{% endblock %}
		</div>


		{% block footer %}
		<!-- FOOTER -->
		<footer> 
			<div class="well">
				© LamaPrint 2016
			</div>
		</footer>
		{% endblock %}
		

	</body>


</html>