{% extends "main.html" %}

{% block title %}{{ name }}{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block navbar %}
{{ super() }}
{% endblock %}

{% block content %}	
<div class="content">
	<header>
		<h1> Lamaprint: </h1>	
		<h2>Proposer / Répondre à un projet</h2>
	</header>
	
	<div class="row row-no-margin choice"> <!-- mettre plusieurs classe-->
		<div class="col-md-4"> <!-- col-md-n avec n la taille en nombre de collone. Max=12 -->
			<div class="panel panel-primary">
				<div class="panel-heading">
				  <h3 class="panel-title"><a href="projet"> Les TOP </a></h3>
				</div>
				<div class="panel-body">
				<!-- Ecrire dans le Panel ici-->
				</div>
			 </div>
		</div>
		
		<div class="col-md-4">
			<div class="panel panel-primary">
				<div class="panel-heading">
				  <h3 class="panel-title"><a href="myprojects">Vos projets</a></h3>
				</div>
				<div class="panel-body">
				  <!-- Ecrire dans le Panel ici-->
				</div>
			 </div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-primary">
				<div class="panel-heading">
				  <h3 class="panel-title"><a href="mypropositions">Vos demandes</a></h3>
				</div>
				<div class="panel-body">
				  <!-- Ecrire dans le Panel ici-->
				</div>
			 </div>
		</div>
	</div>
</div>

{% endblock %}


{% block footer %}
{{ super() }}
{% endblock %}