{% extends "main.html" %}

{% block title %}{{ name }}{% endblock %}

{% block head %}
{{ super() }}
<script type="text/javascript" src="../api/project.js" defer></script>
<script type="text/javascript" src="../api/comment.js" defer></script>
{% endblock %}

{% block navbar %}
{{ super() }}
{% endblock %}

{% block content %}

<div class="content">
	<header>
	</header>

	<div class="container register-text">
		
		<div class="container-co jumbotron propose-form-title">
			<p>
				<label for="titletext" class="login-form-title">{{title}} (par <a href="/profile/{{username}}">{{username}}</a>)</label>
				<p>Type : {{project_type}}</p>
				{% if parent_project != 0 %}
					<p>Projet Parent : <a href="/projet/{{parent_project}}">{{parent_project}}</a></p>
				{% endif %}
			</p>
		</div>
		
		<div class="container-globalregister"> 				
			<div class="col-md-6 no-padding">
				<div  id="registerleftwindow" class="jumbotron-propose container-halfproject">
					
					<img style="max-width:100%; margin-left:auto; margin-right: auto" src={{image}}>
					
					<!--</br></br>
					<p>Prix : #,## €</p>
					<p>Masse : #,# g</p>
					<p>Dimensions :  #,#  x  #,#  x  #,#  cm</p>-->
					<p><label for="description">Description</label><br/>
					<div style="overflow-y:auto; height:25%;">
						{{description}}
					</div>
					</p>
					
					{% if session.get('logged')==True %}
						<p><label for="writecomment">Laisser un commentaire :</label><br />
						<textarea name="writecomment" id="writecomment" rows="2" cols="42%" style="margin-bottom:11px"></textarea></p>
						<button onclick="writeComment()" style="margin-top: 0px; margin-left:30%;" class="btn btn-lg btn-warning register-button-style" href="#" role="button">Envoyer</button>
					{% else %}
						<p>Connectez-vous pour laisser un commentaire !</p>
					{% endif %}
					
				</div>
					
			</div>
			<div class="col-md-6 no-padding">
				<div  id="registerleftwindow" class="jumbotron-propose container-halfproject">
					
					<!-- Liste de fichiers si proposition ou réponse -->
					{% if project_type=="Publication" or project_type=="Offer" %}
						<div style="text-align:center; margin-top:2%; font-size: 20px;">
						Liste des fichiers:
						</div> </br>
						{% set count = 1 %}
						{% for row in files %}

							<div class="file-block">
								<a onclick="showText(this.id)" href="javascript:void(0);" id="file{{count}}">FILE {{count}}</a>
									<div id="textfile{{count}}" class="hide" >
									<a href="{{row[4]}}" target="_blank">Download it here</a></br>
									prix: {{row[10]}} € </br>
									{% if row[9] != None %}
									masse: {{row[9]}}</br>
									{%endif%}
									dimension: {{row[6]}} cm *{{row[7]}} cm *{{row[8]}} cm</br>
									<a href="/profile/{{username}}">User {{username}}</a>
								</div>
							</div>
						{% set count = count +1 %}
						{% endfor %}
					{% elif project_type=="Request" %}
						<div style="text-align:center; margin-top:2%; font-size: 20px;">
						Liste des réponses:
						</div> </br>
						
						<div class="file-block">
						
							{% if session.get('logged')==True %}
								<a href="/propose?parent_project_id={{id}}" style="margin-top: 0px;" role="button" class="btn btn-lg btn-warning register-button-style">Proposer une réponse</a>
							{% else %}
								<p>Connectez-vous pour proposer une réponse !</p>
							{% endif %}

							{% set count = 1 %}
							{% for row in child_projects %}

								<div class="file-block">
									<a href="/project_display/{{row[4]}}">Réponse n°{{count}}</a></br>
									Titre : <a href="/profile/{{row[4]}}">{{row[4]}} </a></br>
									Auteur : <a href="/profile/{{row[1]}}">{{row[1]}} </a>
								</div>
							{% set count = count +1 %}
							{% endfor %}

						</div>
					

					{% endif %}

					<div style="text-align:center; margin-top:1%; font-size: 20px;">
					Commentaires :
					</div>
					<div id="comment" class="commentaire-block" style="height:450px">
					
					{% set count = 0 %}
					{% for c in list %}
							{% if count is divisibleby 2 %}
							<div class="commentaire"><a href="/profile/{{c}}">{{c}} :</a></br>
							{% endif %}
							{% if count is not divisibleby 2 %}
							{{c}}</div>
							{% endif %}
							{% set count = count +1 %}
					{% endfor %}
					</div>
					
				</div>
				
				
			</div>
			
		</div>
	</div>
</div>
{% endblock %}


{% block footer %}
{{ super() }}
{% endblock %}