<!DOCTYPE html>

<html>

    <head>

        <meta charset="utf-8" />

        <title href="index">Projet</title><!-- affichage dans l'encadré onglet-->
		
		<script type="text/javascript" src="../jquery/jquery-1.12.3.min.js" ></script>
		<script type="text/javascript" src="../bootstrap/js/bootstrap.min.js" ></script>
		
		<link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap-theme.min.css" />
		<link rel="stylesheet" type="text/css" href="static/lamaprint.css" />

			
    </head>

    <body>
	
		<nav class="navbar navbar-inverse navbar-fixed-top">
		  <div class="container navbar-no-margin">
			<div class="navbar-header">
			  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </button>
			  <a class="navbar-brand" href="#">Lamaprint</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
			  <ul class="nav navbar-nav">
				<li class="active"><a href="index">Home</a></li>
				<li><a href="#about">About</a></li>
				<li><a href="#contact">Contact</a></li>
				<li class="dropdown">
				  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
				  <ul class="dropdown-menu">
					<li><a href="#">Action</a></li>
					<li><a href="#">Another action</a></li>
					<li><a href="#">Something else here</a></li>
					<li role="separator" class="divider"></li>
					<li class="dropdown-header">Nav header</li>
					<li><a href="#">Separated link</a></li>
					<li><a href="#">One more separated link</a></li>
				  </ul>
				</li>
			  </ul>
			  <ul class="nav navbar-nav pull-right">
				  <a href="login"><li><button type="button" class="btn btn-lg btn-default navbar-button">Login</button></li></a>
			  </ul>
			</div><!--/.nav-collapse -->
		  </div>
		</nav>
		
		<div class="content">
			<header>
				
			</header>
			
		</div>
		
		<div class="container register-text">
			
			<div class="container-co jumbotron propose-form-title">
				<p>
					<label for="titletext" class="login-form-title">Nouveau projet</label>
				</p>
			</div>
			
			<div class="container-globalregister"> 
				<form method="post" action="#" enctype="multipart/form-data">
					<div class="col-md-6 no-padding">
						<div  id="registerleftwindow" class="jumbotron-propose container-halfpropose">
							
							<p><label for="title">Titre</label> : </br>
							<input type="text" name="title" id="title" size="42%" required /></p>
							
							<label for="prix">Prix </label> : <label for="masse" style="margin-left: 105px;">Masse </label> :  </br>
							<input type="number" min="0" step="0.01" value="0" name="prix" id="prix" style="width: 7em;" class="input-center" required /> € 
							<input type="number" min="0" name="masse" id="masse" style="margin-left: 28px; width: 7em;" class="input-center" /> g</p>
							
							<p><label for="dimx">Dimensions </label> : </br>
							<input type="number" min="0" step="0.1" name="dimx" id="dimx" style="width: 4em; margin-left: 9px; margin-right: 9px;" class="input-center" placeholder="x" /> x
							<input type="number" min="0" step="0.1" name="dimy" id="dimy" style="width: 4em; margin-left: 9px; margin-right: 9px;" class="input-center" placeholder="y" /> x
							<input type="number" min="0" step="0.1" name="dimz" id="dimz" style="width: 4em; margin-left: 9px; margin-right: 9px;" class="input-center" placeholder="z" /> cm </p>
							
							<p><label for="fichier">Fichier</label> :
							<input type="file" name="fichier" id="fichier" style="margin-left:25px" required /></p>
								
							<p><label for="images">Images</label> :
							<input type="file" name="images" id="images" style="margin-left:25px" multiple /></p>
							
						</div>
					
					</div>
					<div class="col-md-6 no-padding">
						<div id="registerrightwindow" class="jumbotron-propose container-halfpropose">
							
							<p><label for="description">Description </label> : <br />
							<textarea name="description" id="description" rows="8" cols="42%" style="margin-bottom:11px"></textarea></p>
						
							<a class="btn btn-lg btn-warning register-button-style" href="#" role="button">Envoyer</a>
						</div>
					</div>
				</form>
			</div>
			
			
			<footer> 
				<!--<div class="well">
					Lamaprint
				</div>-->
			</footer>
		</div>
		
    </body>
	
</html>
