{% extends "main.html" %}

{% block title %}{{ name }}{% endblock %}

{% block head %}
{{ super() }}
<script type="text/javascript" src="../api/project.js" defer></script>
{% endblock %}

{% block navbar %}
{{ super() }}
{% endblock %}

{% block content %}
<div class="content">
	<header>
	</header>

	<div class="container register-text">
			
			<div class="container-co jumbotron propose-form-title">
			<p>
				<label for="titletext" class="login-form-title">Proposition de projet</label>
			</p>
			</div>

			<div class="container-globalregister"> 
				<form method="POST" action="/propose?parent_project_id={{parent_project_id}}" enctype="multipart/form-data">
					<div class="col-md-6 no-padding">
						<div  id="registerleftwindow" class="jumbotron-propose container-halfpropose">				
							<p><label for="title">Titre</label> : </br>
							<input type="text" name="title" id="title" size="42%" required /></p>
							
							<label for="prix">Prix </label> : <label for="masse" style="margin-left: 105px;">Masse </label> :  </br>
							<input type="number" min="0" step="0.01" value="0" name="prix" id="prix" style="width: 7em;" class="input-center" required /> € 
							<input type="number" min="0" name="masse" id="masse" style="margin-left: 28px; width: 7em;" class="input-center" required/> g</p>
							
							<p><label for="dimx">Dimensions </label> : </br>
							<input type="number" min="0" step="0.1" name="dimx" id="dimx" style="width: 4em; margin-left: 9px; margin-right: 9px;" class="input-center" placeholder="x" required/> x
							<input type="number" min="0" step="0.1" name="dimy" id="dimy" style="width: 4em; margin-left: 9px; margin-right: 9px;" class="input-center" placeholder="y" required/> x
							<input type="number" min="0" step="0.1" name="dimz" id="dimz" style="width: 4em; margin-left: 9px; margin-right: 9px;" class="input-center" placeholder="z" required/> cm </p>
							
							
							<p><label for="fichier">Fichier</label> :
							<input type="file" name="fichier0" id="fichier0" style="margin-left:25px" required/></p>
							<div id="filebuttons" style="overflow-y:auto">
							</div>
							<label for="nbfiles" class="register-text">Nombre de fichiers :</label>
							<input type="number" id="nbfiles" name="nbfiles" value="1" />
							<button type="button" id="addbutton">Add more files</button>
							
							<p><label for="images">Image</label> :
							<input type="file" name="images" id="images" style="margin-left:25px" /></p>			
					</div>
				
				</div>
				<div class="col-md-6 no-padding">
					<div id="registerrightwindow" class="jumbotron-propose container-halfpropose">
						
						<p><label for="description">Description </label> : <br />
						<textarea name="description" id="description" rows="8" cols="42%" style="margin-bottom:11px" required ></textarea></p>
					
						<button class="btn btn-lg btn-warning register-button-style" href="/propose">Envoyer</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}


{% block footer %}
{{ super() }}
{% endblock %}