<!DOCTYPE html>

<html>

    <head>

        <meta charset="utf-8" />

        <title href="index">Projet</title><!-- affichage dans l'encadré onglet-->
		
		<script type="text/javascript" src="../jquery/jquery-1.12.3.min.js" ></script>
		<script type="text/javascript" src="../bootstrap/js/bootstrap.min.js" ></script>
		
		<link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap-theme.min.css" />
		<link rel="stylesheet" type="text/css" href="../static/lamaprint.css" />

			
    </head>

    <body>
	
		<nav class="navbar navbar-inverse navbar-fixed-top">
		  <div class="container navbar-no-margin">
			<div class="navbar-header">
			  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </button>
			  <a class="navbar-brand" href="#">Lamaprint</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
			  <ul class="nav navbar-nav">
				<li class="active"><a href="index">Home</a></li>
				<li><a href="#about">About</a></li>
				<li><a href="#contact">Contact</a></li>
				<li class="dropdown">
				  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
				  <ul class="dropdown-menu">
					<li><a href="#">Action</a></li>
					<li><a href="#">Another action</a></li>
					<li><a href="#">Something else here</a></li>
					<li role="separator" class="divider"></li>
					<li class="dropdown-header">Nav header</li>
					<li><a href="#">Separated link</a></li>
					<li><a href="#">One more separated link</a></li>
				  </ul>
				</li>
			  </ul>
			</div><!--/.nav-collapse -->
		  </div>
		</nav>
		
		<div class="content">
			<header>
				
			</header>
		</div>
		
		<form method="post" action="#">
			<body>
				<div class="container register-text">
					
					<div class="container-co jumbotron register-form-title">
						
						<label for="titletext" class="login-form-title">Inscription</label>
					
					</div>
				
					<div class="container-globalregister">
						
						<div class="col-md-6 no-padding">
							<div  id="registerleftwindow" class="jumbotron container-leftregister">
							
									
								<div class="form-style">
									
									<label class="register-form-subtitle">Informations liées au compte</label>
									<br />									
								
									<label for="id" class="register-text">Identifiant *</label>
									<br />
									<input type="text" name="id" id="id" style="text-align:center;" placeholder="Entrez votre identifiant ici" size="30" maxlength="64" required />
								
								
									<label for="mdp" class="register-text">Mot De Passe *</label>
									<br />
									<input type="password" name="mdp" id="mdp" style="text-align:center;" placeholder="Entrez votre mot de passe ici" size="30" maxlength="64" required />
									<br />
									
									<label for="mdpconfirm" class="register-text">Confirmation du Mot De Passe *</label>
									<br />
									<input type="password" name="mdpconfirm" id="mdpconfirm" style="text-align:center;" placeholder="Confirmation du mot de passe" size="30" maxlength="64" required />
									<br />
									
									
									<label for="mail" class="register-text">Adresse E-mail *</label>
									<br />
									<input type="text" name="mail" id="mail" style="text-align:center;" placeholder="Entrez votre adresse e-mail ici" size="30" maxlength="64" required />
									
								</div>
							
								
							</div>
							
							<div class="jumbotron container-leftregister">
								<a href="login" class="link-form-style">Déjà un compte ?<br /> Connectez vous ici !</a>
							</div>
						</div>
						
						<div class="col-md-6 no-padding">
							<div class="jumbotron container-rightregister">
								
								<label class="register-form-subtitle">Informations personnelles</label>
								<br />	
							
							
								<label for="firstname" class="register-text">Prénom</label>
								<br />
								<input type="text" name="firstname" id="firstname" style="text-align:center;" placeholder="Entrez votre prénom ici" size="30" maxlength="64" />
							
							
								<label for="lastname" class="register-text">Nom</label>
								<br />
								<input type="text" name="lastname" id="lastname" style="text-align:center;" placeholder="Entrez votre nom ici" size="30" maxlength="64" />
							
							
								<label for="birthdate" class="register-text">Date de naissance</label>
								<br />
								<input type="date" name="birthdate" id="birthdate" style="text-align:center;" placeholder="JJ/MM/AAAA" size="30" maxlength="10" />
								
								<label for="phonenumber" class="register-text">Numéro de téléphone</label>
								<br />
								<input type="date" name="phonenumber" id="phonenumber" style="text-align:center;" placeholder="Entrez votre numéro de téléphone" size="30" maxlength="10" />
								
								<br /><br />
								
								<input type="checkbox" id="idcheckbox" value="valeur"/>
								
								<label for="idcheckbox">J'accepte les </label> 
								<a href="cgu" class="link-form-style"> conditions générales d'utilisation</a> 
								<br/>

							
							
								<a class="btn btn-lg btn-warning register-button-style" href="#" role="button">S'inscrire</a>
							</div>
						</div>
						
					</div>
				</div>
			</body>
		</form>
			
			<footer> 
				<!--<div class="well">
					Lamaprint
				</div> -->
			</footer>
		
	
</html>
