/*NAVBAR ------------------------------------------------*/

.navbar-no-margin
{
	margin: 0px;
	width:100%;
}


/*GLOBAL ------------------------------------------------*/

header{
	text-align:center;
	margin-bottom:20px;
	margin-top:70px;	/* 50px navbar + 20 px */
}

footer{
	width: 100%;
	height: 60px;
}


body{
	background-color:#e9f0fa
}

/*.container {
	min-height: calc(100% + 500px);	/* 71px header + 60 px footr = 131px	=> marche pas...
}*/

img {
	width: 100%;
}

/*.msg-alert{
	position: fixed;
	top: 70;
	z-index: 1040;
	margin-top:70px;
}*/

.maps{
	width:100%;
	height: 500px;
}

.row-no-margin {
	margin-right: 0px;
	margin-left: 0px;
	margin-top:50px;
}

.no-padding {
	padding-bottom:0px;
	padding-top:0px;
	padding-left:0px;
	padding-right:0px;
}

.carousel-option{
	margin-left:auto;
	margin-right:auto;
	width: 80%;
}

.jumbotron{
	background-color:#fafcff; /*#fae8ca*/
	padding-top:30px;
	padding-bottom:30px;
	padding-left:0px;
	margin-bottom:25px;
	width: 815px;
}

	.jumbotron p{
		margin-bottom:0px;
	}

	.panel-title-center{
	text-align:center;
	}


	
/*INDEX  -------------------------------------------------*/	
.carousel{
	height:300px;
	width:750px;
	overflow: hidden;
}

.container-index{
	width:80%;
}

	
/*FORM --------------------------------------------------*/

.jumbotron-center{
	padding-top:20px;
	padding-bottom:20px;
}

.form-style{
	margin-bottom:10px;
}

.input-center{
	text-align:center;
}

.link-form-style{
	font-size:15px;
	padding-top:0px;
	padding-bottom:0px;
	color:#f7aa2d;
	font-weight: bold;
}

/*LOGIN -------------------------------------------------*/

.container-login{
	width:400px;
	margin-left:0;
	margin-right:0;
	text-align:center;
}

.login-text{
	text-align:center;
	width:400px;
	font-size:15px;
	margin-top:20px;
	margin-bottom:10px;
}

.login-button-style{
	border-color:#f7aa2d;
	margin-bottom:5px;
	margin-top:30px;
}
	.login-button-style:hover{
		border-color:#db8e12;
	}
	.login-button-style:focus{
		border-color:#c27800;
	}
	
.login-form-title{
	
	margin-top:0px;
	font-size:40px;
	text-align:center;
}


/*REGISTER ----------------------------------------------*/

.register-form-title{
	margin-top:0px;
	width:830px;
	font-size:40px;
	text-align:center;
}

.register-form-subtitle{
	
	margin-top:0px;
	font-size:20px;
	text-align:center;
	margin-top:0px;
	margin-bottom:10px;
}

.register-text{
	text-align:center;
	width:830px;
	font-size:15px;
	margin-top:20px;
	margin-bottom:10px;
}


.container-globalregister{
	width:830px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	text-align:center;

}

.container-leftregister{
	width:400px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	padding-left:0px;
	text-align:center;

}

.container-rightregister{
	width:400px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	padding-right:0px;
	text-align:center;

}

.register-button-style{
	border-color:#f7aa2d;
	margin-bottom:0px;
	margin-top:22px;
}
	.register-button-style:hover{
		border-color:#db8e12;
	}
	.register-button-style:focus{
		border-color:#c27800;
	}


/*printers ----------------------------------------*/

.printers-head{
	margin-right:15px;
	margin-left:15px;
	margin-top:0px;
	padding-left:0px;
	padding-right:0px;
	padding-top:0px;
	padding-right:0px;
}

.printers-button-style{
	border-color:#f7aa2d;
	margin-bottom:0px;
	margin-top:0px;
	margin-left:75px;
}
	.register-button-style:hover{
		border-color:#db8e12;
	}
	.register-button-style:focus{
		border-color:#c27800;
	}

/* SEARCH PROJECT */

.search-button-style{
	border-color:#f7aa2d;
	margin-bottom:0px;
	margin-top:0px;
	margin-left:35px;
}
	.search-button-style:hover{
		border-color:#db8e12;
	}
	.search-button-style:focus{
		border-color:#c27800;
	}
	
/*PROPOSE PROJET ----------------------------------------*/

.propose-form-title{
	
	margin-top:0px;
	width:800px;
	font-size:40px;
	text-align:center;
	margin-left:15px;
	margin-right:15px;
}

.container-halfpropose{
	width:385px;
	margin-right:15px;
	margin-left:15px;
	margin-top:0px;
	padding-left:0px;
	padding-right:0px;
	text-align:center;
}

.jumbotron-propose{
	background-color:#fafcff;
	padding-top:30px;
	padding-bottom:30px;
	padding-left:10px;
	padding-right:10px;
	margin-bottom:25px;
}


/*PROJECT -----------------------------------------------*/

.container-halfproject{
	width:385px;
	margin-right:15px;
	margin-left:15px;
	margin-top:0px;
	padding-left:20px;
	padding-right:20px;
	text-align:left;
	height:auto;
}
	

.project-comments{
	text-align:left;
	overflow-y: auto;
	height:350px;"
}

/*PROFILE -----------------------------------------------*/



.profile-title{
	margin-top:0px;
	width:815px;
	font-size:40px;
	text-align:center;
}

.profile-subtitle{
	
	margin-top:0px;
	font-size:20px;
	text-align:center;
	margin-top:0px;
	margin-bottom:10px;
}

.profile-text{
	text-align:center;
	width:800px;
	font-size:15px;
	margin-top:20px;
	margin-bottom:10px;
}


.container-globalprofile{
	width:830px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	text-align:center;

}

.container-picture{
	width:400px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	padding-left:0px;
	text-align:center;

}

.container-leftprofile{
	width:400px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	padding-left:0px;
	text-align:center;

}

.container-rightprofile{
	width:400px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	padding-right:0px;
	text-align:center;

}

.profile-button-style{
	border-color:#f7aa2d;
	margin-bottom:0px;
	margin-top:0px;
}
	.profile-button-style:hover{
		border-color:#db8e12;
	}
	.profile-button-style:focus{
		border-color:#c27800;
	}
	
.comment-box{
	width: 100%;
	text-align:left;
}

.older-comments{
	max-height:300px;
	overflow-x: hidden;
	overflow-y: auto;
}
.commentaire{
	text-align:left;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #6E5858;
}

.commentaire-block{
	overflow-y: auto; 
	height: 48%; 
	
}

.file-block{
	height:35%;
	overflow-y: auto;
	text-align:center;
}

/****** ANIMATION**/
.smooth_appear{
	 color: #888777; 
	   -webkit-transition: color 1s ease-in;
	   -moz-transition: color 1s ease-in;
	   -o-transition: color 1s ease-in;
	   -ms-transition: color 1s ease-in;
	   transition: color 1s ease-in;
}
